.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px 0 40px;
    padding: 10px;
    background-color: black;
    color: white;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 600;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    margin: 0 10px 0 10px;
    /* border: 1px solid red; */
}
.input{
    width: 100%;
    line-height: 29px;

}
.button{
    background-color: #343434;
    color: white;
}